/* font */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Arima Madurai", cursive;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  background-color: #fbeaeb;
  /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"),
    auto; */
}

body ::selection {
  background: #fcd12a;
  color: black;
}

#MyName {
  font-size: 50px;
  text-transform: uppercase;
}

.link {
  color: rgb(19, 2, 247);
}

/* The navbar container */
.nav {
  overflow: hidden;
  background-color: #fbeaeb;
  text-align: center;
  padding: 20px;
}

.buttonNav {
  color: #2f3c7e;
  background: #fbeaeb;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #2f3c7e;
  text-underline-offset: 5px;
}

/* Navbar links */
.navLink {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 5px;
}

.navLink :hover {
  background-color: #2f3c7e;
  color: #fcd12a;
}

.navLink :active {
  background-color: none;
  color: #fbeaeb;
}

#webtitle {
  float: left;
  margin-left: 100px;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #fcd12a;
  border: 25px 35px;
  padding: 10px 30px;
  background: #2f3c7e;
}

/*NAVBAR BUTTONS*/
#button1,
#button2,
#button3 {
  margin-top: 35px;
  margin-bottom: 25px;
}

#button1 {
  margin-right: 10px;
}

#button2 {
  margin-right: 10px;
}

#button3 {
  margin-right: 75px;
}

/* LINES 1-3 */
#line1 {
  margin-top: 75px;
  margin-bottom: 5px;
  font-size: 65px;
}

#line1line {
  border: 5px solid;
  border-top: 5px;
}

#line2 {
  font-size: 25px;
  margin-bottom: 75px;
}

.section2 {
  padding-top: 75px;
  padding-bottom: 75px;
  margin-left: 0px;
  display: block;
  text-align: center;
  background-color: #2f3c7e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fcd12a;
}

.scrolling {
  color: #fcd12a;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}

#curious {
}

#extroverted {
}

#intelligent {
}

#debate {
}

#politics {
}

#music {
}

.section2 ::selection {
  color: black;
}

.container1 {
  display: flex;
  align-items: center;
}

#loveletter {
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#lovelettersub {
  font-size: 27px;
  margin-bottom: 75px;
  font-weight: lighter;
}

#loveletter,
#lovelettersub {
  text-align: left;
  margin-left: 125px;
}

#eye {
  float: right;
  margin-right: 10%;
  margin-top: 20px;
  margin-left: 100px;
}

#line1eye,
#line2line,
#line3line {
  border: 3px solid;
  border-top: 3px;
  margin-bottom: 3px;
  color: #2f3c7e;
}

.container2 {
  margin-top: 10px;
  margin-left: 125px;
  text-align: left;
  display: flex;
  align-items: center;
}

#aboutme {
  margin-top: 20px;
  font-size: 45px;
  margin-bottom: 20px;
}

#aboutmesub {
  font-size: 27px;
  margin-bottom: 75px;
  font-weight: lighter;
}

#eye2 {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 10%;
  margin-bottom: 20px;
}

.container3 {
  display: flex;
  align-items: center;
}

#goals {
  font-size: 45px;
  margin-bottom: 20px;
}

#goalssub {
  font-size: 27px;
  margin-bottom: 75px;
  font-weight: lighter;
}

#goals,
#goalssub {
  text-align: left;
  margin-left: 125px;
}

#eye3 {
  margin-top: 35px;
  margin-left: 100px;
  margin-right: 10%;
}

#line3line {
  margin-top: 35px;
  margin-bottom: 0%;
}

.container4 {
  color: black;
  background: #2f3c7e;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

#WTGIT {
  color: #fcd12a;
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  margin-left: 125px;
  margin-bottom: 0px;
  margin-right: 200px;
}

.container4 {
  display: flex;
  align-items: center;
}

.contactMe {
  margin-top: 100px;
  margin-left: 80px;
  padding: 20px 80px;
  color: #fcd12a;
  background: #2f3c7e;
  border-radius: 5px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #fbeaeb;
  text-underline-offset: 5px;
}

#contactMe2,
#contactMe3 {
  margin-left: 60px;
}

#contactMe3 {
  margin-right: 100px;
}

.footerLink :hover {
  background-color: #fbeaeb;
  color: black;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #2f3c7e;
  text-underline-offset: 5px;
}
